*{  
    padding: 0;
    margin: 0;  
}

.container{
  float: left;
}
.video{
    height: 30vh;
}
.container-2{
    display: flex;
}
#p-info{
    margin-top: 3vh;
}
.info{
    margin: 6vh 6vh;
}
@media screen and (max-width: 460px) {
    .general{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 22px;
    }    
    .c-video{
        width: 140%;
    }
    
    .container-2{
        width: 140%;
        align-items: center;
    }
    #p-info{
        margin-top: 2vh;
    }
    .video{
        height: 360px;
    }
    
  }
 